ENV=dev

GRPC_HOST=0.0.0.0
GRPC_PORT=50052

USER_SERVICE_ADDRESS=localhost:60001
GROUP_SERVICE_ADDRESS=localhost:50051

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_NAME=chat
